---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fargate 
  template:
    metadata:
      labels:
        app: fargate
    spec:
      # nodeSelector removed to allow Fargate profile to match by label
      containers:
      - name: nodejs-app
        image: 352210141460.dkr.ecr.eu-north-1.amazonaws.com/techworldexercise11:e7ab299
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: fargate
