---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      nodeSelector:
        eks.amazonaws.com/fargate-profile: ClusterFargate
      containers:
      - name: nodejs-app
        image: 352210141460.dkr.ecr.eu-north-1.amazonaws.com/techworldexercise11:e7ab299
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: nodejs-app
