name: CI/CD to EKS

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          REPOSITORY_URI=352210141460.dkr.ecr.eu-north-1.amazonaws.com/techworldexercise11
          docker build -t $REPOSITORY_URI:$IMAGE_TAG app
          docker tag $REPOSITORY_URI:$IMAGE_TAG $REPOSITORY_URI:latest
          docker push $REPOSITORY_URI:$IMAGE_TAG
          docker push $REPOSITORY_URI:latest

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region eu-north-1 --name demo-cluster2

      - name: Deploy to EKS
        run: kubectl apply -f k8s/nodejs-app.yaml
